.popup__container {
    min-height: 322px;
    width: 100%;
    max-width: 430px;
    background-color: #FFF;
    border-radius: 9px;
    padding: 25px 22px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 1280px) {
    .popup__container {
        min-height: 330px;
        padding: 35px 36px;
    }
}